<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FeastFinder</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='ff_logo.jpg') }}"
      type="image/jpeg"
    />
  </head>
  <body>
    <main>
      <div class="page">{% block content %}{% endblock %}</div>
    </main>
  </body>
</html>
